@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppins-bold;
    src: url(./fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: poppins-regular;
    src: url(./fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(./fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Rubik;
    src: url(./fonts/Rubik-VariableFont_wght.ttf);
  }

.phone {
    background: url('./assests/unsplash_60XLoOgwkfA.png') no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    height: 80%;
    font-family: poppins-medium;
}
.new {
    font-size: 10px;
}