@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppins-bold;
    src: url(./fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: poppins-regular;
    src: url(./fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppins-medium;
    src: url(./fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
  }
  body {
    font-family: "Roboto";
  }

.phone {
    
    border-radius: 40px;
    height: 80%;
}
.phone-deafult-screen {
  background: url('./assests/unsplash_60XLoOgwkfA.png') no-repeat;
  background-position: center;
  background-size: cover;
}
.light-screen-mode {
  background: #fff;
}

.new {
    font-size: 10px;
}
@keyframes showCountries {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
  
}

@keyframes hideCountries {
  0% {
    transform:  translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes showMorePage {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}
.showCountries {
  animation: showCountries 0.3s ease-in-out ;
}
.hideCountries {
  animation: hideCountries 0.9s ease-in-out;
}
.showMorePage {
  animation: showMorePage 0.3s ease-in-out;
}


.countries-wrapper {
  height: 365px;
  overflow-y: scroll;
}
.questions-wrapper {
  height: 400px;
  overflow-y: scroll;
}

.countries-wrapper::-webkit-scrollbar, .questions-wrapper::-webkit-scrollbar {
  width: 10px;
}

.countries-wrapper::-webkit-scrollbar-thumb, .questions-wrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.countries-wrapper::-webkit-scrollbar-track, .questions-wrapper::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.more-items {
  
  border-bottom: 1px solid rgb(247, 241, 241);
}


.rotateUp {
  transform: rotate(180deg);
  transition-duration: 1s ;
}
.rotateDown {
  transform: rotate(360deg);
  transition-duration: 1s ;
}
